[submodule "LitSearch"]
	path = page2_routing_prereg_validation_003/upstream_LitSearch
	url = https://github.com/princeton-nlp/LitSearch.git
[submodule "trl"]
	path = pasa_crawler_mechanism_audit_001/sources/trl
	url = https://github.com/hyc2026/trl.git
